body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    
}
header{
    padding-top: 100px;
    margin-bottom: 7em;
    text-align: center;
    
    
}
footer{
    font-size: 12px;
    clear: both;
    font-size: .8em;
    margin: 4em 1em;
    color: #999;
    text-decoration: none;
    text-decoration-color: antiquewhite;
    
}
.logo{
    height: 80px;
    margin: 0 auto;
    max-width: 1300px;
    font-weight: 300;
    line-height: 1.44em;
    font-size: 16px;
    

}
.button-green{
    text-align: center;
    height: 50px;
    background-color: green;
    color: white; 
    border: 0;
    border-radius: .3em;
    padding: .7em 1.5em;
    box-shadow: 0 2px 0 #3f6f21;
    text-decoration: none;
    font-size: 20px;
    
}

.login{
    color: #999;
    background: transparent;
}

.text1{
    display: block;
    max-width: 585px;
    margin: 0 auto;
    position: relative;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
}
.blue{
    background: #0079bf;
    color: #fff;
    height: 53em;
    padding-bottom: 1em;
}

.image1{
   
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 30px;
    width: 90%;
 
}

.button-s3{
    border: 1px solid;
    border-radius: .3em;
    display: inline-block;
    margin: .6em 0;
    padding: .6em 1em;
    text-decoration: none;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.44em;
    text-align: center;
    color: #5e98ba;
    background: transparent;
    
}

.image2{
    margin-top: 2em;
    margin-left: 7em;
    margin-right: 5em;
    max-width: 100%;
    vertical-align: middle;
}

.image3{
  margin-left: 60%;
  position: relative;
  top: 3em;    
 
    
}

.sec4{
  max-height: 400px;
  background: #e4f0f6;
   
}

.texto3{
 padding-left: 55%;
 position: relative;
 top: 3em;
}

.izq{
   max-width: 500px;
   padding-left: 15%;
   padding-top: 5px;
   position: relative;
   top: -9em;
}

.image-s5{
  left: 520px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 28%;

  position: relative;
    top: 3em;

   
}

.sec6{
    background: #0079bf;
    color: #fff;
    text-align: center;
    text-align: center
    padding-top: 4em;
    padding-right: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    
}

.texto6{
    padding-top: 3em;
    padding-bottom: 3em;
}

.imagenes-s6{
    text-align: center;
    padding-left: 1em;
    padding-right: 3em;
    padding-bottom: 2em;
  
}

.logo1{
    height: 60px;
    margin-top: 0px;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.sec7{
    margin-left: -2em;
    margin-bottom: 1em;
    background: #42548e;
    color: #fff;
}

.text-s7{
     max-width: 1100px;
    margin-left: 5em;
}

.image-s7{
    padding-right: 4%;
    position: relative;
    top: 3em;
}

.p-s7{
    max-width: 585px;
    padding-left: 44%;
    padding-top: 20px;
    position: relative;
    top: -6em;
}

.sec-8{
        max-width: 530px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
        font-weight: 300;
    line-height: 1.44em;
}

.sec-9{
    max-height: 700px;
    background: #0079bf;
    color: #fff;
}
.p-9{
    margin: 0 auto;
    position: relative;
    max-width: 1300px;
    
}

.img-s9{
    margin-left: 23%;
    position: relative;
    top: 2em;
}

.texto-s9{
    max-width: 585px;
    padding-left: 39%;
    padding-top: 20px;
    position: relative;
    top: -6em;
}

li{
    float: left;
    width: auto;
    text-align: center;
    padding-left: 75px;
    list-style: none;
}

a{
    color: #999;
    font-size: 1.Sem;
}

.letra{
    font-size: 15px;
    text-align: center;
}

.logos{
    padding: 0;
    vertical-align: top;
    margin: .4em 1em 0 0;
    display: inline-block;
}

.copyright{
     font-size: 25px;
    text-align: center; 
    color: #999;
     padding-top: 3em;
}

/*tablet*/
@media only screen and (max-width: 1200px) and (min-width:520px){
    #img-s3{
        text-align: center;
        margin-top: -2em;
        height: 300px;
        width: 380px;
        padding-left: 4em;
     
    }
    
    #p-s4{
        width: 280px;
        height: 170px;
        margin-top: 1em;
        text-align: center;
        
    }
    
    #img-s4{
        width: 260px;
        height: 200px;
        margin-left: 60%;
    }
     #p-s5{
        width: 300px;
        height: 50px;
        margin-top: 1em;
        text-align: center;
        padding-bottom: -1em;
        
    }
    
    #img-s5{
        width: 260px;
        height: 200px;
        margin-left: 0%;
        
    }
    
    #img-s7{
        width: 270px;
    }
    #p-s7{
        text-align: center;
        padding-right: 1.7em;
    }
    
    #img-s9{
        margin-left: 15%;
    }
   
    #links{
        margin-left: 1em;
        text-align: center;
        padding-left: -2em;
    }
    #blue{
    background: #0079bf;
    color: #fff;
    height: 40em;
    padding-bottom: 1em;
    }
}

/*movil*/
    @media only screen and (max-width: 520px) and (min-width: 320px){
         
        body{
            font-size: 15px;
        }    
     #img-s3{
        text-align: center;
        margin-top: -3em;
        height: 240px;
        width: 320px;
        margin-left: -3em;
    }
        
    #p-s4{
        width: 200px;
        height: 150px;
        margin-top: 2em;
        text-align: center;
        margin-left: -3.5em;
       
        
    }
    
    #img-s4{
        width: 190px;
        height: 140px;
        margin-left: 52%;
    }
    
   
     #p-s5{
        width: 220px;
        height: 110px;
        margin-top: -4em;
        text-align: center;
        margin-bottom: -4em;
        margin-left: -55px; 
        
    }
    
    #img-s5{
        width: 150px;
        height: 170px;
        margin-left: -17em;
        margin-top: -1em;
        margin-bottom: 5em;
        
    }
        
    #imgs-s6{
        text-align: center;
      width: 300px;
        }
    
    #img-s7{
        width: 170px;
        margin-left: -25px;
        }
    #p-s7{
        text-align: center;
        padding-right: 1.7em;
        margin-top: -1em;
    }
    
    #btn-s7{
        text-align: center;
        margin-left: -14em;
        margin-bottom: -9em;
        }
    #img-s9{
        margin-left: 5%;
        height: 125px;
        margin-bottom: -1.5em;
    }
   
    #links{
        
        text-align: center;
        margin-left: -1.5em;
        font-size: 12px;
    }
    
        #copyright{
            text-align: center;
            font-size: 15px;
            margin-top: -2em;
            
        }
    #blue{
    background: #0079bf;
    color: #fff;
    height: 33em;
    padding-bottom: 1em;
    }
        
    
}
